<div class="student-view {{^data}}no-students{{/data}}">
    <div class="accordion">
        <div class="accordion-item">
            <h3 class="usa-accordion__heading">
                <button class="usa-accordion__button collapsed" type="button" aria-expanded="false">
                    Student Data<i class="fa fa-plus"></i><i class="fa fa-minus"></i>
                </button>
            </h3>
            <div id="collapseone" class="accordion-collapse usa-accordion__content usa-prose collapse">
                <div class="accordion-body">
                    <form action="/local/studentdata/deletestudent.php" method="post"><input type="hidden" name="action"
                                                                                             value="selected">
                        <table class="studentdata instructional_priorities table table-striped">
                            <thead>
                            <tr>
                                <th id="delete"><i class="fa fa-trash" title="Select students to delete"
                                                   aria-hidden="true"></i><span class="sr-only">Select students to delete</span>
                                </th>
                                <th id="edit"><i class="fa fa-edit" title="Click the icon to edit the student"
                                                 aria-hidden="true"></i><span
                                        class="sr-only">Click the icon to edit the student</span></th>
                                <th id="name">Name</th>
                                <th id="tabe">TABE/CASAS GLE</th>
                                <th id="alpha">Alphabetics</th>
                                <th id="fluency-acc">Fluency (Accuracy)</th>
                                <th id="fluency-rate">Fluency (Rate and prosody)</th>
                                <th id="vocab">Vocabulary</th>
                                <th id="compre">Comprehension</th>
                            </tr>
                            </thead>
                            {{#data}}
                                <tr class="{{{instructional_priorities}}}">
                                    <td headers="delete">
                                        <label>
                                            <input class="student-delete-checkbox" id="student-{{id}}" type="checkbox"
                                                   name="selected_ids[{{id}}]" value="{{id}}"
                                                   title="Select student {{{name}}} for deletion.">
                                            <span class="sr-only">Select student {{{name}}} for deletion.</span>
                                        </label>
                                    </td>
                                    <td headers="edit"><a href="/local/studentdata/studentform.php?id={{id}}" title="Edit
                                        student {{{name}}}"><i class="fa fa-edit" aria-hidden="true"></i><span
                                                class="sr-only">Edit student {{{name}}}</a></span></td>
                                    <td headers="name">
                                        <a class="show-student-info" href="#"><strong>{{{name}}}</strong></a>
                                        <div class="hidden-student-info">
                                            <b>Student: {{{name}}}</b><br/>
                                            Notes: {{{notes}}}
                                        </div>
                                    </td>
                                    <td headers="tabe">{{{tabe}}}</td>
                                    <td headers="alpha" class="alpha">
                                        {{#alphabetics_level}}<a class="show-student-info" href="#">{{{alphabetics_level}}}</a>{{/alphabetics_level}}
                                        <div class="hidden-student-info">
                                            <b>Student: {{{name}}}</b><br/>
                                            Began testing at: {{{highest_level_alphabetics}}}<br/>
                                            <b>Words correct at: </b><br/>
                                            {{#level1}}
                                                Grade 1: {{{level1}}}<br/>
                                            {{/level1}}
                                            {{#level2}}
                                                Grade 2: {{{level2}}}<br/>
                                            {{/level2}}
                                            {{#level3}}
                                                Grade 3: {{{level3}}}<br/>
                                            {{/level3}}
                                            {{#level4}}
                                                Grade 4: {{{level4}}}<br/>
                                            {{/level4}}
                                            {{#level5}}
                                                Grade 5: {{{level5}}}<br/>
                                            {{/level5}}
                                            {{#level6}}
                                                Grade 6: {{{level6}}}<br/>
                                            {{/level6}}
                                            {{#level7}}
                                                Grade 7: {{{level7}}}<br/>
                                            {{/level7}}
                                            {{#level8}}
                                                Grade 8: {{{level8}}}<br/>
                                            {{/level8}}
                                            Highest level: {{{highest}}}
                                        </div>
                                    </td>


                                    <td headers="fluency-acc" class="fluency accuracy">
                                        {{#accuracy}}<a class="show-student-info" href="#">{{{accuracy}}}</a>{{/accuracy}}
                                        <div class="hidden-student-info">
                                            <b>Student: {{{name}}}</b><br/>
                                            <b>Good rate and prosody?</b> {{{radioarr1}}}<br/>
                                            Began testing at: {{{begin_level_fluency}}}<br/>
                                            <b>Accurate at:</b><br/>
                                            {{#radioar1}}
                                                Level 1: {{{radioar1}}}<br/>
                                            {{/radioar1}}
                                            {{#radioar2}}
                                                Level 2: {{{radioar2}}}<br/>
                                            {{/radioar2}}
                                            {{#radioar3}}
                                                Level 3: {{{radioar3}}}<br/>
                                            {{/radioar3}}
                                            {{#radioar4}}
                                                Level 4: {{{radioar4}}}<br/>
                                            {{/radioar4}}
                                            {{#radioar5}}
                                                Level 5: {{{radioar5}}}<br/>
                                            {{/radioar5}}
                                            {{#radioar6}}
                                                Level 6: {{{radioar6}}}<br/>
                                            {{/radioar6}}
                                            {{#radioar7}}
                                                Level 7: {{{radioar7}}}<br/>
                                            {{/radioar7}}
                                            {{#radioar8}}
                                                Level 8: {{{radioar8}}}<br/>
                                            {{/radioar8}}
                                        </div>
                                    </td>
                                    <td headers="fluency-rate" class="fluency rates">
                                        {{#rates}}<a class="show-student-info" href="#">{{{rates}}}</a>{{/rates}}
                                        <div class="hidden-student-info">
                                            <b>Student: {{{name}}}</b><br/>
                                            <b>Good rate and prosody?</b> {{{radioarr1}}}<br/>
                                            Began testing at: {{{begin_level_fluency}}}<br/>
                                            <b>Accurate at:</b><br/>
                                            {{#radioar1}}
                                                Level 1: {{{radioar1}}}<br/>
                                            {{/radioar1}}
                                            {{#radioar2}}
                                                Level 2: {{{radioar2}}}<br/>
                                            {{/radioar2}}
                                            {{#radioar3}}
                                                Level 3: {{{radioar3}}}<br/>
                                            {{/radioar3}}
                                            {{#radioar4}}
                                                Level 4: {{{radioar4}}}<br/>
                                            {{/radioar4}}
                                            {{#radioar5}}
                                                Level 5: {{{radioar5}}}<br/>
                                            {{/radioar5}}
                                            {{#radioar6}}
                                                Level 6: {{{radioar6}}}<br/>
                                            {{/radioar6}}
                                            {{#radioar7}}
                                                Level 7: {{{radioar7}}}<br/>
                                            {{/radioar7}}
                                            {{#radioar8}}
                                                Level 8: {{{radioar8}}}<br/>
                                            {{/radioar8}}
                                        </div>
                                    </td>

                                    <td headers="vocab" class="vocab">
                                        {{#instructvocab}}<a class="show-student-info" href="#">{{{instructvocab}}}</a>{{/instructvocab}}
                                        <div class="hidden-student-info">
                                            <b>Student: {{{name}}}</b><br/>
                                            Began testing at: {{{begin_level_vocab}}}<br/>
                                            <b>Accurate at:</b><br/>
                                            {{#level1acc}}
                                                Level 1: {{{level1acc}}}<br/>
                                            {{/level1acc}}
                                            {{#level2acc}}
                                                Level 2: {{{level2acc}}}<br/>
                                            {{/level2acc}}
                                            {{#level3acc}}
                                                Level 3: {{{level3acc}}}<br/>
                                            {{/level3acc}}
                                            {{#level4acc}}
                                                Level 4: {{{level4acc}}}<br/>
                                            {{/level4acc}}
                                            {{#level5acc}}
                                                Level 5: {{{level5acc}}}<br/>
                                            {{/level5acc}}
                                            {{#level6acc}}
                                                Level 6: {{{level6acc}}}<br/>
                                            {{/level6acc}}
                                            {{#level7acc}}
                                                Level 7: {{{level7acc}}}<br/>
                                            {{/level7acc}}
                                            {{#level8acc}}
                                                Level 8: {{{level8acc}}}<br/>
                                            {{/level8acc}}
                                        </div>
                                    </td>
                                    <td headers="compre" class="compre">
                                        {{#comprehension}}<a class="show-student-info" href="#">{{{comprehension}}}</a>{{/comprehension}}
                                        <div class="hidden-student-info">
                                            <b>Student: {{{name}}}</b><br/>
                                            Began testing at: {{{begin_level_compre}}}<br/>
                                            <b>{{{comprehension_label}}} at: </b><br/>
                                            {{#level1perc}}
                                                {{{comprehension_label}}} Level 1: {{{level1perc}}}<br/>
                                            {{/level1perc}}
                                            {{#level2perc}}
                                                {{{comprehension_label}}} Level 2: {{{level2perc}}}<br/>
                                            {{/level2perc}}
                                            {{#level3perc}}
                                                {{{comprehension_label}}} Level 3: {{{levelperc3}}}<br/>
                                            {{/level3perc}}
                                            {{#level4perc}}
                                                {{{comprehension_label}}} Level 4: {{{level4perc}}}<br/>
                                            {{/level4perc}}
                                            {{#level5perc}}
                                                {{{comprehension_label}}} Level 5: {{{level5perc}}}<br/>
                                            {{/level5perc}}
                                            {{#level6perc}}
                                                {{{comprehension_label}}} Level 6: {{{level6perc}}}<br/>
                                            {{/level6perc}}
                                            {{#level7perc}}
                                                {{{comprehension_label}}} Level 7: {{{level7perc}}}<br/>
                                            {{/level7perc}}
                                            {{#level8perc}}
                                                {{{comprehension_label}}} Level 8: {{{level8perc}}}<br/>
                                            {{/level8perc}}
                                        </div>
                                    </td>

                                </tr>
                            {{/data}}
                        </table>
                        <div class="row"><div class="mr-auto mt-2 px-4">
                            <input type="hidden" name="action" value="selected">
                            <a href="/local/studentdata/studentform.php" class="btn btn-secondary">Add a student</a>
                            <a href="/local/studentdata/importstudents.php" class="btn btn-primary" title="import students">Import sample students</a>
                        </div>
                        <div class="">
                            <input type="submit" value="Delete students" class="btn btn-primary"/>
                            <button onclick="window.print()" class="usa-button usa-button-secondary float-right">Print table</button>
                        </div></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{^data}}
    <p class="style:width:100%">No students added</p>
    <p><a href="/local/studentdata/studentform.php" class="btn btn-primary">Add a student</a>
    <a href="/local/studentdata/importstudents.php" class="btn btn-primary" title="import students">Import sample students</a></p>
{{/data}}

